[submodule "licode"]
	path = licode
	url = git://github.com/rhinobird/licode.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = git://github.com/c00w/puppet-apt.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = https://github.com/willdurand/puppet-nodejs.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "transcoding-service"]
	path = transcoding-service
	url = https://github.com/rhinobird/transcoding-service.git
